<p id="notice"><%= notice %></p>

<h1>Mi aplicacion de Zombies</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Biografia</th>
      <th>Edad</th>
      <th>Email</th>
      <th>¿Podrido?</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @zombies.each do |zombie| %>
      <tr>
        <td><%= zombie.name %></td>
        <td><%= zombie.bio %></td>
        <td><%= zombie.age %></td>
        <td><%= zombie.email %></td>
        <td><%= zombie.rotten %></td>
        <td><%= link_to 'Show', zombie %></td>
        <td><%= link_to 'Editar', edit_zombie_path(zombie) %></td>
        <td><%= link_to 'Eliminar', zombie, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Zombie', new_zombie_path %>
