<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @zombie.name %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @zombie.bio %>
</p>

<p>
  <strong>Age:</strong>
  <%= @zombie.age %>
</p>

<p>
  <strong>Email:</strong>
  <%= @zombie.email %>
</p>

<p>
  <strong>rotten:</strong>
  <%= @zombie.rotten %>
</p>


<%= link_to 'Editar', edit_zombie_path(@zombie) %> |
<%= link_to 'Salir', zombies_path %>
